[Desktop Entry]
Type=Application
Name=Whitford
Comment=A focused native mail shell
Exec=whitford
Icon=mail-unread-symbolic
Terminal=false
Categories=Network;Email;
Keywords=mail;email;inbox;
StartupNotify=true
StartupWMClass=dev.whitford.Whitford
